.calculator {
    width: 300px;
    margin: 100px auto;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    background-color: #c0aaaa;
  }
  
  .display {
    height: 40px;
    background: #222;
    color: #fff;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    height: 40px;
    font-size: 18px;
  }

  body {
    background-image: url('jjj.png');
    background-size: cover;
  }